{% load static i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<aside class="sidebar">
    <div class="brand">
        <img src="{% static 'assets/img/Designer_small.png' %}" alt="Web of Statistics logo">
        <span>Web of Statistics</span>
    </div>

    <div class="language-switcher">

<form action="{% url 'set_language' %}" method="post">

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">

    <button name="language"
            value="en"
            class="{% if CURRENT_LANGUAGE == 'en' %}active{% endif %}">
        EN
    </button>

    <span>|</span>

    <button name="language"
            value="es"
            class="{% if CURRENT_LANGUAGE == 'es' %}active{% endif %}">
        ES
    </button>

</form>

</div>

    <nav class="sidebar-nav">
        <a href="{% url 'home' %}" class="{% if segment == 'home' %}active{% endif %}">{% translate "Home" %}</a>

        <a href="{% url 'descriptive' %}" class="{% if segment == 'descriptive' %}active{% endif %}">{% translate "Descriptive" %}</a>

        <a href="{% url 'probability' %}" class="{% if segment == 'probability' %}active{% endif %}">{% translate "Probability Functions" %}</a>

        <a href="{% url 'inference' %}" class="{% if segment == 'inference' %}active{% endif %}">{% translate "Inference" %}</a>

        <a href="{% url 'control' %}" class="{% if segment == 'control' %}active{% endif %}">{% translate "Control Charts" %}</a>

        <a href="{% url 'anova' %}" class="{% if segment == 'anova' %}active{% endif %}">{% translate "ANOVA" %}</a>

        <a href="{% url 'regression' %}" class="{% if segment == 'regression' %}active{% endif %}">{% translate "Regression" %}</a>

        <a href="{% url 'multivariate' %}" class="{% if segment == 'multivariate' %}active{% endif %}">{% translate "Multivariate" %}</a>

        <a href="{% url 'multivariate_regression' %}" class="{% if segment == 'multivariate_regression' %}active{% endif %}">{% translate "Multivariate Regression" %}</a>

        <a href="{% url 'classification' %}" class="{% if segment == 'classification' %}active{% endif %}"> {% translate "Classification" %}</a>

        <a href="{% url 'tree_models' %}" class="{% if segment == 'tree_models' %}active{% endif %}">{% translate "Tree Models" %}</a>

        <a href="{% url 'publications' %}"class="{% if segment == 'publications' %}active{% endif %}">{% translate "Scientific Publications" %}</a>

        <a href="{% url 'forum' %}"class="{% if segment == 'forum' %}active{% endif %}">{% translate "Community Forum" %}</a>
    </nav>
</aside>